footer
  .container.text-center
    p.pull-left © 2016 Uni-Guide, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='http://world.honda.com/UNI-CUB/') Honda UNI-CUB
      li
        a(href='https://github.com/seabassgonzalez') Team Profile
