extends layout

block content
  <img src="http://i.imgur.com/IgUR8Jy.jpg" align="middle">
  h1 UNI-CUB Uni-Guide
  p.lead We'll Guide You There.
  hr
  .row
    .col-sm-6
      h2 Your Personal Chauffer
      p The Honda UNI-CUB is a new personal mobility device that features the world's first omni-directional driving wheel system. Paired with our proprietary Uni-Guide touring software, individual transport has never been easier.
    .col-sm-6
      h2 Your Personal Tour Guide
      p By simply employing a UNI-CUB Uni-Guide transportation system, any oversized corporate campus can be made friendly, familiar, and accessible.
    .col-sm-6
      h2 Optimized Transport
      p No more tardiness, no more panic-- find yourself whisked away to your desination, the Uni-Guide knows exactly how to get you where you're going.
    .col-sm-6
      h2 Maximum Ease
      p Breezing through foreign hallways has never felt safer, ride with peace of mind.
  hr
  p <center><iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe></center>
  p <img src="http://i.imgur.com/cObw3ZI.gif">