extends ../layout

block content
  h2 Request A Guide
  hr

  .row
    .col-sm-4
      a(href='/', style='color: #fff')
            img(src='http://i.imgur.com/ct8jsph.jpg')
            |  Uni-Guide
    
